.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5 {
  font-weight: semi-bold;
}

.blog h1 {
  font-size: 3em;
  margin: 1em 0;
  margin-top: 1.5em;
}

.blog h2 {
  font-size: 2.5em;
  margin: 1em 0;
  margin-top: 1.5em;
}

.blog h3 {
  font-size: 2em;
  margin: 1em 0;
  margin-top: 1.5em;
}

.blog h4 {
  font-size: 1.5em;
  margin: 1em 0;
  margin-top: 1.5em;
}

.blog p {
  line-height: 1.6;
}

p + p {
  margin: 1em 0;
}

.blog ul,
.blog ol {
  margin: 1em 0;
  padding-left: 2em;
}

.blog li {
  margin: 0.5em 0;
}

.blog img {
  max-width: 675px;
  margin: 0 auto;
  border-radius: 8px;
}

@media screen and (max-width: 1080px) {
}
